/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container{
	margin: 0px 150px;
    padding: 25px 75px;
}

nav{

	display: flex;
	/*justify-content: center;*/
}

nav .nav-item{
	display: flex;
	justify-content: space-between;
    align-items: center;
    width: 76%;


}
.menu-links{
	text-decoration: none;
	color:gray;
	width:75px;
    font-size:15px;
}
.logo{
    display: flex;
    justify-content: flex-end;
    width:30%;
}

header{
	display: flex;
	justify-content: center;
    height: 540px;
}
header .header-content-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    width: 50%;
}
header .header-content-text h1{
	text-align: center;
    font-size:80px;
}
header .header-content-image{
	display: flex;
    flex-direction: row;
    
    /*text-align: center;*/
}
.top-content-section{
	display: flex;
}
.bottom-content-section{
	display: flex;
	justify-content: space-between;
}
.bottom-content-section .top-content{
	width:50%;
}
.bottom-content-section .bottom-content{
	width: 32%;
}
.middle-img{
	text-align: center;
	margin: 50px 0px;
}
.middle-img img{
	width: 100%;
	height: auto;
}
section{
	margin: 50px 0px;
}
.contact{
	margin-bottom:50px;
}
footer{
	text-align: center;
}

